/* Tags View Columns */
.col-tag-name {
  width: 70%;
}

.col-tag-count {
  width: 30%;
  color: var(--text-secondary);
  text-align: right;
}

.tag-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
